body {
  background: url('assets/images/accueil.png') fixed;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#map-cercle {
  display: block;
  width: 350px;
  height: 350px;
  margin: 25px auto 0;
  background-color: #9FD6DD;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

#quizz {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#quizz-cercle {
  display: block;
  width: 270px;
  height: 270px;
  margin: 130px auto 0;
  margin-left: 10px;
  background-color: orange;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

#know {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#know-cercle {
  display: block;
  width: 280px;
  height: 280px;
  margin: 60px auto 0;
  background-color: palevioletred;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

h3 {
  color: #FFFFFF;
  font-weight: bold;
}

p, div {
  color: #FFFFFF;
}

.btn-quizz {
  background-color: orangered;
  color: #FFFFFF;
}

.btn-map {
background-color: #005CAE;
  color: #FFFFFF;
}

.btn-know {
background-color: mediumvioletred;
  color: #FFFFFF;
}