/*
 * Just a single entry CSS file for an example
 * Import from user.js file
 */

@import url(https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch);
$headings-font-family: 'Cabin Sketch', cursive !default;

body {
  background: url('assets/images/accueil.png') fixed;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#user-profile {
  * {
    font: {
      family: $headings-font-family;

    }
  }
}